<nav class="nav-m">
    <ul class="menu">
        <li><a href="/" class="<%= page === 'home' ? 'active' : '' %>">HOME</a></li>
        <li><a href="/buy" class="<%= page === 'buy' ? 'active' : '' %>">BUY</a></li>
        <li><a href="/sell" class="<%= page === 'sell' ? 'active' : '' %>">SELL</a></li>
        <li><a href="/rent" class="<%= page === 'rent' ? 'active' : '' %>">RENT</a></li>
        <li><a href="/contact" class="<%= page === 'contact' ? 'active' : '' %>">CONTACT</a></li>
    </ul>
</nav>
